body {
  margin: 0;
  background-image: url(./images/oogway.webp);
  background-size: cover;
}

nav {
  overflow:hidden;
  background-color: #000000;
  opacity: 0.8;
}
nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}
nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a:active {
  background-color: #04aa6d;
  color: white;
}

h1 {
  color:blue;
}
hr {
  margin-left: 10px;
  margin-right: 10px;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
